*{
    box-sizing:border-box;
}
figure{
    margin: 0;
}

.content{
    max-width: 1200px;
    width: 100%;
    padding: 0px 10px;
    margin: auto;
}
ul{
    margin: 0;
    padding: 0;
    li{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

}
body{
    background-color: $color-main !important;
}

a{
    &:hover{
        text-decoration: none;
    }
}
.img-responsive{
    width: 100%;
    display: block;
    height: auto;
}
.title{
    font-size: 28px;
}