<template>
  <header class='header'>
    <div class="content">
      <div class="d-flex justify-content-between">
        <a href='' class='header__logo'>
          <img src="~/assets/img/logo.png" alt="" width="100">
        </a>
        <div class="header__menu d-flex">
          <div class="header__links">
            <ul class='d-flex'>
              <li>
                <a href="">Hombre</a>
              </li>
              <li>
                <a href="">Mujer</a>
              </li>
              <li>
                <a href="">Kids</a>
              </li>
              <li>
                <a href="">Teens</a>
              </li>
            </ul>
          </div>
          <div class="header__icons">
            <a href="" class=' header__icons__links'>
               <i class="far fa-user"></i>
            </a>
            <a href="" class=' header__icons__links'>
              <i class='far fa-search '></i>
            </a>

            <a href="" class=' header__icons__links'>
              <i class='far fa-shopping-cart '></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>
<script>
  export default {
    name: 'HeaderMenu'
  }
</script>
<style lang='scss'>
  @import '~assets/styles/abstracts/variables';
  .header{
    padding: 15px 0;
    background-color:$color-white;
    box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
    &__menu{
      width: 100%;
      justify-content: space-between;
    }
    &__links{
      margin-left: 60px;
      ul{
        li{
          margin: 0px 15px;
          a{
            color: $color-grey;
            font-size: 18px;
            display: block;
            margin-top: 4px;
          }
        }
      }
    }
    &__icons{
      display: flex;
      &__links{
        color: $color-grey;
        font-size: 18px;
        margin: 0px 15px;
        margin-top: 4px;
        display: block;
      }
    }
  }
</style>