.slick-slider{
    position: relative;
}
.slick-dots{
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
}
.slick-dots li {
    margin: 0 8px;
}
.slick-dots li button{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 16px;
    height: 16px;
    padding: 5px;
    cursor: pointer;
    /* color: transparent; */
    border: 2px solid $color-white;
    /* outline: none; */
    // background: transparent;
    // background: white;
    background: transparent;
    border-radius: 50%;
}
.slick-dots li.slick-active button{
    background: $color-white;
}
