<template>
  <div class='page_home'>
    <header-menu></header-menu>
    <section class='home_banners'>
      <no-ssr v-if='isBrowser'>
        <slick
          ref="slick"
          :options="slickOptions"
          @afterChange="handleAfterChange"
          @beforeChange="handleBeforeChange"
          @breakpoint="handleBreakpoint"
          @destroy="handleDestroy"
          @edge="handleEdge"
          @init="handleInit"
          @reInit="handleReInit"
          @setPosition="handleSetPosition"
          @swipe="handleSwipe"
          @lazyLoaded="handleLazyLoaded"
          @lazyLoadError="handleLazeLoadError">
          <a href="http://placehold.it/2000x1000"><img src="~assets/img/mueble.jpg" alt="" class='img-responsive'></a>
          <a href="http://placehold.it/2000x1000"><img src="~assets/img/mueble-2.jpg" alt="" class='img-responsive'></a>
        </slick>
      </no-ssr>
      <a v-else href="http://placehold.it/2000x1000"><img src="~assets/img/mueble.jpg" alt="" class='img-responsive'></a>
    </section>
    <section class="page_home__highlights">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="title text-center">

                        Colecciones Destacados
                    </div>
                    <span class='paragraph text-center'>¿Necesita ropa de diario u ocasiones especiales, formales o de calle, hombres o mujeres? Todos tenemos opciones para ti. ¡Echale un vistazo!</span>
                </div>
            </div>
            <ProductList :products='productListHighlights'></ProductList>
        </div>
    </section>
  </div>
</template>

<script>
import HeaderMenu from '~/components/common/HeaderMenu.vue'
import ProductList from '~/components/product/ProductList'

let Slick = null
if (process.browser) {
    console.log('entro')
    Slick = require('vue-slick').default
    console.log('ao', Slick)
}
export default {
  components: {
    HeaderMenu,
    Slick,
    ProductList
  },
  data () {
    return {
      sliders: [],
      isBrowser: process.browser,
      slickOptions: {
        slidesToShow: 1,
        arrows: false,
        dots: true,
        adaptiveHeight: true,
        autoplay: true,
        autoplaySpeed: 4000
      },
      productListHighlights: [
        {
          id: 1,
          name: 'Suscipit Laboriosam Nisi',
          image: '/img/faded-short-sleeves-tshirt.jpg'
        },
        {
          id: 2,
          name: 'Aspetur Autodit Autfugit',
          image: '/img/faded-short-sleeves-tshirt-2.jpg'
        },
        {
          id: 3,
          name: 'Perspiciatis Unde Omnis',
          image: '/img/printed-dress.jpg'
        }
      ]
    }
  },
  methods: {
    next() {
        this.$refs.slick.next();
    },

    prev() {
        this.$refs.slick.prev();
    },

    reInit() {
        // Helpful if you have to deal with v-for to update dynamic lists
        this.$nextTick(() => {
            this.$refs.slick.reSlick();
        });
    },

    // Events listeners
    handleAfterChange(event, slick, currentSlide) {
        console.log('handleAfterChange', event, slick, currentSlide);
    },
    handleBeforeChange(event, slick, currentSlide, nextSlide) {
        console.log('handleBeforeChange', event, slick, currentSlide, nextSlide);
    },
    handleBreakpoint(event, slick, breakpoint) {
        console.log('handleBreakpoint', event, slick, breakpoint);
    },
    handleDestroy(event, slick) {
        console.log('handleDestroy', event, slick);
    },
    handleEdge(event, slick, direction) {
        console.log('handleEdge', event, slick, direction);
    },
    handleInit(event, slick) {
        console.log('handleInit', event, slick);
    },
    handleReInit(event, slick) {
        console.log('handleReInit', event, slick);
    },
    handleSetPosition(event, slick) {
        console.log('handleSetPosition', event, slick);
    },
    handleSwipe(event, slick, direction) {
        console.log('handleSwipe', event, slick, direction);
    },
    handleLazyLoaded(event, slick, image, imageSource) {
        console.log('handleLazyLoaded', event, slick, image, imageSource);
    },
    handleLazeLoadError(event, slick, image, imageSource) {
        console.log('handleLazeLoadError', event, slick, image, imageSource);
    }
  }
}
</script>

<style lang='scss'>
@import 'node_modules/slick-carousel/slick/slick.css';

.page_home{
    &__highlights{
        padding-top: 20px;
    }
}
</style>
