<template>
  <div class="product-card__item">
    <a href="">
      <img :src="product.image" alt="">
    </a>
    <a href="">
      <h3 class='product-card__name'>
        {{product.name}}
      </h3>
    </a>
  </div>
</template>
<script>
  export default {
    name: 'productCart',
    props: ['product'],
    data () {
      return {

      }
    }
  }
</script>