<template>
  <div class="product-card">
    <ProductItem v-for='item in products' :product='item'></ProductItem>
  </div>
</template>
<script>
  import ProductItem from '~/components/product/ProductItem'
  export default {
    name: 'productCardList',
    props: ['products'],
    components: {
      ProductItem
    }
  }
</script>
<style lang='scss'>
  .product-card{
    display: flex;
  }
</style>